.btn{
    font-weight: bold;
    color: #979797;
}

.btn:hover{
    background-color: #f5f5f5;
}

.selected {
    background-color: #68b4bd !important;
    color: white !important;
    font-weight: bold;
}


#process-table-header {
    background-color: #f5f5f5;
    text-align: center;
    color: #979797;
}

#process-table-body td{
    text-align: center;
}

.panel {
    min-width: 18em;

}

.panel-heading{
    text-align: center;
    color: #979797;
    font-weight: bold;
}

.process-group {
    min-width: 16em;
    max-width: 16em;
    min-height: 8em;
    max-height: 8em;
    margin-left: 1em;
    margin-right: 1em;
}

.process-step {
    border: 1px solid lightgrey;
    height: 8em;
    min-height: 8em;
    line-height: 8em;
    border-radius: 50%;
    text-align: center;
    color: #979797;
    min-width: 8em;
    max-width: 8em;
    float: right;
}

.date-step {
    background: white;
    height: 8em;
    min-height: 8em;
    align-content: center;
    padding-top: 3em;
    color: #878787;
    font-size: small;
    font-style: italic;
    min-width: 7em;
    float: left;

}

td{
    color: #737373;
}

.additional-info td:first-child {
    font-weight: bold;
}

