<div *ngIf="order" id="order-body">

    <!-- Tar vekk denne for prodsetting, ikke sikker
    <div>
        <button class="btn btn-default" (click)="goToCustomer(order[0].customer_id)">View all orders for customer
        </button>
    </div>

    <br/>

    -->
    <div class="panel panel-default">
        <div class="panel-heading" id="process-table-header">
            Process Flow for order: <strong>{{order[0].order_ref}}</strong> - Current step
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 process-group">
                    <div class="row">
                        <div class="date-step">
                            Entered step:<br>
                            {{order[0].reg_date}}
                        </div>
                        <div [class.selected]="process1 === order[0].process_step" class="process-step">{{process1}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 process-group">
                    <div class="row">
                        <div *ngIf="order[0].process_step === process2 || order[0].process_step === process3 || order[0].process_step === process4 || order[0].process_step === process5">
                            <div class="date-step">
                                Entered step:<br>
                                {{order[0].clean_order_date}}
                            </div>
                        </div>
                        <div [class.selected]="process2 === order[0].process_step" class="process-step">{{process2}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2 process-group">
                    <div class="row">
                        <div *ngIf="order[0].process_step === process3 ||order[0].process_step === process4 || order[0].process_step === process5">
                            <div class="date-step">
                                Entered step:<br>
                                {{order[0].plan_done_date}}
                            </div>
                        </div>
                        <div [class.selected]="process3 === order[0].process_step" class="process-step">{{process3}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-2 process-group">
                    <div class="row">
                        <div *ngIf="order[0].process_step === process4 || order[0].process_step === process5">
                            <div class="date-step">
                                Entered step:<br>
                                {{order[0].finalize_access_date}}
                            </div>
                        </div>
                        <div [class.selected]="process4 === order[0].process_step" class="process-step">{{process4}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-2 process-group">
                    <div class="row">
                        <div *ngIf="order[0].process_step === process5">
                            <div class="date-step">
                                Entered step:<br>
                                {{order[0].FM_date}}
                            </div>
                        </div>
                        <div [class.selected]="process5 === order[0].process_step" class="process-step">{{process5}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Aditional Info</div>
                <div class="panel-body">
                    <table class="additional-info table">
                        <tbody>
                        <tr>
                            <td>End User</td>
                            <td>{{order[0].end_user}}</td>
                        </tr>
                        <tr>
                            <td>Product Name</td>
                            <td>{{order[0].product_name}}</td>
                        </tr>
                        <tr>
                            <td>Registration Date</td>
                            <td>{{order[0].reg_date}}</td>
                        </tr>
                        <tr *ngIf="order[0].process_step === process3">
                            <td>Installation Date</td>
                            <td>{{order[0].agreed_installation_date}}</td>
                        </tr>
                        <tr *ngIf="order[0].process_step === process3 ||  order[0].process_step === process4">
                            <td>Expected Delivery Date</td>
                            <td>{{order[0].latest_agreed_date}}</td>
                        </tr>
                        <tr *ngIf="order[0].process_step === process5">
                            <td>Delivered Date</td>
                            <td>{{order[0].FM_date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
    </div>
</div>


<div *ngIf="error">
    <div class="alert alert-danger" role="alert">No Orders to show. Please check your URL or try to refresh page</div>
</div>

