#order-body{
    padding-left: 20em;
    padding-right: 20em;
}

.btn{
    font-weight: bold;
    color: darkgrey;
}

.btn:hover{
    background-color: #f5f5f5;
}

.selected {
    background-color: #68b4bd !important;
    color: white;
}
#process-table-header {
    text-align: center;
    color: darkgrey;
}
#process-table-body td{
    text-align: center;
}

#process-row{
    padding-left: 5em;
}

.process-step {
    border: 1px solid lightgrey;
    height: 8em;
    min-height: 8em;
    line-height: 8em;
    border-radius: 50%;
    text-align: center;
    color: darkgrey;
    min-width: 8em;
}

.date-step {
    background: white;
    height: 8em;
    min-height: 8em;
    line-height: 8em;
    color: grey;
    font-style: italic;
    min-width: 7em;

}



td{
    color: darkgrey;
}

.additional-info td:first-child {
    font-weight: bold;
}

.panel-heading{
    color: darkgrey;
    font-weight: bold;
}