<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-addon" aria-hidden="true">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </div>
            <input type="text" class="form-control" placeholder="enter order number" [(ngModel)]="orderId">
        </div>

        <br>
        <button class="btn btn-default btn-lg" (click)="goToCustomer()">Search</button>

    </div>
    <div class="col-md-4">&nbsp;</div>
</div>
